
<table class="table table-bordered table-striped table-hover table-result-code-name">
    <thead>
        <tr>
            <th width="35%">Agent Code</th>
            <th width="65%">Agent Name</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var items in ViewBag.Agent)
        {
            <tr>
                <td width="34%" onclick="Select('@items.AgentNumericCode', '@items.AgentName')">@items.AgentNumericCode</td>
                <td width="54%" onclick="Select('@items.AgentNumericCode', '@items.AgentName')">@items.AgentName</td>

            </tr>
        }


    </tbody>
</table>

