<table class="table table-bordered table-striped table-hover table-result-code-name">
    <tbody>
        @foreach (var items in ViewBag.Agent)
        {
            <tr onclick="selectag('@items.AgentNumericCode', '@items.AgentName')">
                <td width="34%">@items.AgentNumericCode</td>
                <td width="54%">@items.AgentName</td>
                <td>@items.Count</td>
            </tr>
        }
    </tbody>
</table>

