@using System.Data
@model DataSet
<div class="col-sm-12 tab-content tab-cancellation n-paddin-left">
    <div class="side-fim col-sm-12 n-padding">
        <div class="col-sm-2 n-padding">
            <div class="panel">
                <div class="panel-heading panel-fim-head">

                </div>
                <div class="panel-body panel-fim-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="pink">FIM Number</th>
                                <th class="pink">Document Received</th>
                                <th class="pink">Temporary FIM Number</th>
                                <th class="pink">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow dr in Model.Tables[0].Rows)
                            {
                                <tr onclick="showFimDetail('@dr[Model.Tables[0].Columns[0].ColumnName].ToString()')">
                                    @for (int i = 0; i < Model.Tables[0].Columns.Count; i++)
                                    {
                                        <td>@dr[Model.Tables[0].Columns[i].ColumnName].ToString()</td>;
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer panel-fim-foot">

                </div>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="loadFim">
                <div class="col-sm-7 n-padding">
                    <fieldset class="test-fieldst1" style="padding: 7px;">
                        <div class="col-sm-3">
                            <fieldset class="test-fieldst1" id="ownOal">
                                <div class="col-sm-4 n-padding" style="margin-left: 16px;margin-right: 16px;">
                                    <input class="form-check-input" type="radio" name="ownOal" value="1">
                                    <label class="form-check-label col-form-label" for="inlineRadio1">OWN</label>
                                </div>
                                <div class="col-sm-4 n-padding">
                                    <input class="form-check-input" type="radio" name="ownOal" value="2">
                                    <label class="form-check-label col-form-label" for="inlineRadio1">OAL</label>
                                </div>
                            </fieldset>
                        </div>
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#flightsLookup">Get Flight Details</button>
                    </fieldset>
                </div>

                <div class="col-sm-12 n-padding">
                    <table class="tab-refundEng table-fim">
                        <tr style="border: 1px solid;">
                            <td class="col-sm-3">FLIGHT INTERRRUPTION MANIFEST NO.</td>
                            <td width="41%"><input type="text" class="form-engine width-engine" id="fimNumber" /></td>
                            <td style="border-left: 1px solid;">Sector:</td>
                            <td><input type="text" class="form-engine width-engine" id="sector" /></td>
                        </tr>
                    </table>
                    <table class="tab-refundEng table-fim">
                        <tr class="border-left-right-botm">
                            <td width="6%">Routed From</td>
                            <td width="6%"><input type="text" class="form-engine width-engine width-engine-sm" id="routed1" onkeyup="changeVlaue(this.value,'1')" /></td>
                            <td width="20%"><button type="button" class="btn btn-default btn-fim" onclick="showModalAirportCode('1')">...</button></td>

                            <td width="7%" style="border-left: 1px solid">Rerouted From</td>
                            <td width="6%"><input type="text" class="form-engine width-engine width-engine-sm" id="routed2" onkeyup="changeVlaue(this.value,'2')" /></td>
                            <td width="21.1%"><button type="button" class="btn btn-default btn-fim" onclick="showModalAirportCode('2')">...</button></td>

                            <td width="7%" style="border-left:1px solid">Rerouted From</td>
                            <td width="6%"><input type="text" class="form-engine width-engine width-engine-sm" id="routed3" onkeyup="changeVlaue(this.value,'3')" /></td>
                            <td><button type="button" class="btn btn-default btn-fim" onclick="showModalAirportCode('3')">...</button></td>
                        </tr>
                    </table>
                    <table class="tab-refundEng table-fim">
                        <tr style="border-left: 1px solid;border-right: 1px solid;">
                            <td width="6%">Airline</td>
                            <td width="6%">Flight</td>
                            <td width="6%">Date</td>
                            <td width="6%">Place of interruption</td>

                            <td width="6%" style="border-left:1px solid">Airline</td>
                            <td width="6%">Flight</td>
                            <td width="6%">Date</td>
                            <td width="6%">From</td>
                            <td width="6%">To</td>

                            <td width="6%" style="border-left:1px solid">Airline</td>
                            <td width="6%">Flight</td>
                            <td width="6%">Date</td>
                            <td width="6%">From</td>
                            <td width="6%">To</td>
                        </tr>
                        <tr class="border-left-right-botm">
                            <td><input type="text" class="form-engine width-engine width-engine-sm" id="airline" /></td>
                            <td><input type="text" class="form-engine width-engine width-engine-sm" id="flight" /></td>
                            <td><input type="text" class="form-engine width-engine input-fim-date" id="dateFlight" /></td>
                            <td><input type="text" class="form-engine width-engine" style="width:154px !important" id="placeInterruption" /></td>

                            <td style="border-left: 1px solid;"><input type="text" class="form-engine width-engine width-engine-sm" id="1airline" /></td>
                            <td><input type="text" class="form-engine width-engine width-engine-sm" id="1flight" /></td>
                            <td><input type="text" class="form-engine width-engine input-fim-date" id="1dateFlight" /></td>
                            <td><input type="text" class="form-engine width-engine width-engine-sm" id="fromInterruption" /></td>
                            <td><input type="text" class="form-engine width-engine width-engine-sm" id="toInterruption" /></td>

                            <td style="border-left: 1px solid;"><input type="text" class="form-engine width-engine width-engine-sm" id="2airline" /></td>
                            <td><input type="text" class="form-engine width-engine width-engine-sm" id="2flight" /></td>
                            <td><input type="text" class="form-engine width-engine input-fim-date" id="2dateFlight" /></td>
                            <td><input type="text" class="form-engine width-engine width-engine-sm" id="fromInterruption3" /></td>
                            <td><input type="text" class="form-engine width-engine width-engine-sm" id="toInterruption3" /></td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-12 n-padding">
                    <div class="ajax-loader">
                        <img src="@Url.Content("~/Images/load.gif")" class="img-responsive" style="top: -54px;height: 110px;width: 274px;" />
                    </div>
                    <div class="fim-middle">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th rowspan="2" class="pink">No</th>
                                    <th rowspan="2" class="pink">Passenger Name</th>
                                    <th colspan="5" class="pink">Ticket Number</th>
                                    <th rowspan="2" class="pink">Fare Basis and Passenger Type Code</th>
                                    <th colspan="2" class="pink">Cabin Class</th>
                                    <th rowspan="2" class="pink">Billed (NOC)</th>
                                    <th rowspan="2" class="pink">Accepted (OOC)</th>
                                    <th rowspan="2" class="pink">Difference</th>
                                    <th rowspan="2" class="pink"><input type="checkbox" /></th>
                                </tr>
                                <tr>
                                    <th class="pink">Cpn</th>
                                    <th class="pink">Airline Code</th>
                                    <th class="pink">Form and Serial Number</th>
                                    <th class="pink">Ck</th>
                                    <th class="pink">ET</th>
                                    <th class="pink">New Flight 1</th>
                                    <th class="pink">New Flight 2</th>
                                </tr>
                            </thead>
                            <tbody id="loadFimHeader"></tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-12 n-padding" style="margin-top: 3px;">
                    <div class="fim-middle1">
                        <table class="table table-bordered table-striped" style="width:86%">
                            <thead>
                                <tr>
                                    <th class="pink"></th>
                                    <th class="pink">Excess Baggage</th>
                                    <th class="pink"></th>
                                    <th class="pink"></th>
                                    <th class="pink"></th>
                                    <th class="pink"></th>
                                    <th class="pink"></th>
                                    <th class="pink"></th>
                                    <th class="pink">Exc. Wt</th>
                                    <th class="pink">Exc. Pc</th>
                                    <th class="pink"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-12 n-padding">
                    <table class="tab-refundEng table-fim" id="reasonIssuance">
                        <tr class="border-top-left-right">
                            <td width="5%" colspan="4">Reason for issuance</td>
                            <td style="border-left:1px solid"></td>
                            <td width="6%">Diversion By</td>
                            <td colspan="2" style="border-left:1px solid"></td>

                        </tr>
                        <tr class="border-left-right-botm">
                            <td width="6%"><input type="radio" name="reasonIssuance" value="1" /> CXLD</td>
                            <td width="6%"><input type="radio" name="reasonIssuance" value="2" /> DLYD</td>
                            <td width="6%"><input type="radio" name="reasonIssuance" value="3" /> OVSLD</td>
                            <td width="7%"><input type="radio" name="reasonIssuance" value="4" /> MSCNX</td>

                            <td width="6%" style="border-left:1px solid">Carrier Code</td>
                            <td width="6%"><input type="text" class="form-engine width-engine width-engine-sm" id="airline1" /></td>
                            <td width="6%" style="border-left:1px solid">Total number of passengers</td>
                            <td width="6%"><input type="text" class="form-engine width-engine width-engine-sm" id="totalNumberPassenger" /></td>
                        </tr>
                        <tr style="border:1px solid">
                            <td colspan="3">Validator, name and / or ID of the FIM issuing agent </td>
                            <td colspan="5"><input type="text" class="form-engine width-engine" id="validatorName" /></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="search">
                    <div class="col-sm-3"><button type="button" class="search-interogation pink btn" onclick="SaveFIMHeaderData()"><span class="search-span">SAVE</span></button></div>
                    <div class="col-sm-3"><button type="button" class="search-interogation pink btn" onclick=""><span class="search-span">Cancel</span></button></div>
                    <div class="col-sm-3"><button class="search-interogation pink btn" onclick="removeSousMenu()"><span class="search-span">CLOSE</span></button></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="flightsLookup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 933px; left:10%">
            <div class="modal-header">
                <h5 class="modal-title">Flight Passenger Lookup</h5>
                <button type="button" class="close" style="position: relative;top: -21px;" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body-fim" style="height: 71vh;">
                <div class="ajax-loader">
                    <img src="@Url.Content("~/Images/load.gif")" class="img-responsive" style="top: -54px;height: 110px;width: 274px;" />
                </div>
                <div class="col-sm-12 n-padding head-fim">
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-default" onclick="showFlightsLookup()">Flights Lookup</button>
                    </div>
                    <div class="col-sm-6">
                        <table class="tab-refundEng table-fim-label">
                            <tr>
                                <td>Flight No.</td>
                                <td>Flight Date</td>
                                <td>Sector From</td>
                                <td>Sector To</td>
                            </tr>
                            <tr>
                                <td id="valueFlightNo"></td>
                                <td id="valueFlightDate"></td>
                                <td id="valueFlightFrom"></td>
                                <td id="valueFlightTo"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm-4 dataAirportCode">
                        <table class="tab-refundEng">
                            <tr>
                                <td style="color:white">Flight No.</td>
                                <td style="color:white">Flight Date</td>
                                <td style="color:white">Sector:</td>
                            </tr>
                            <tr>
                                <td><input type="text" class="form-engine input-fim-date" id="valueFlightNo1" /></td>
                                <td><input type="text" class="form-engine input-fim-date" id="valueFlightDate1" /></td>
                                <td><input type="text" class="form-engine input-fim-date" id="Flightsector" /></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-sm-12 n-padding dataPassengerLookup" style="margin-left:0px;overflow:auto;height:61vh">

                </div>
            </div>
            <div class="modal-footer footer-fim">
                <label id="labelpassenger"> Document No. :<span id="valuelabelpassenger"></span></label>
                <button type="button" class="Close btn btn-default btn-close" data-dismiss="modal">Close</button>
                <button type="button" class="Close btn btn-primary" onclick="selectAllPassengerLookup()" style="margin-right: 4px;">Select All</button>
                <button type="button" class="Close btn btn-primary" onclick="selectPassengerLookup()">Select</button>
                <input type="hidden" id="valuePassengerLookup" />
            </div>
        </div>
    </div>
</div>

<div id="showFlightsLookup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 874px; left:10%">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Flights Lookup</h5>
                <button type="button" class="close" style="position: relative;top: -21px;" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body-fim" style="height: 71vh;">
                <div class="ajax-loader">
                    <img src="@Url.Content("~/Images/load.gif")" class="img-responsive" style="top: -54px;height: 110px;width: 274px;" />
                </div>
                <div class="col-sm-12 n-padding head-fim">
                    <div class="col-sm-6">
                        <table>
                            <tr>
                                <td style="color:white">Type the flight number</td>
                                <td><input type="text" class="form-engine" onkeyup="chercheFlightLookup(this.value)" /></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-sm-12 n-padding dataFlight dataAirportCode" style="margin-left:0px;overflow:auto;height:61vh">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="pink">Airline</th>
                                <th class="pink">Flight Date</th>
                                <th class="pink">Flight Number</th>
                                <th class="pink">Origin</th>
                                <th class="pink">Destination</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer footer-fim">
                <label id="flightLook"> Airline :<span id="valueFlightLook"></span></label>
                <button type="button" class="Close btn btn-default btn-close" data-dismiss="modal" onclick="closeFimManager()">Close</button>
                <button type="button" class="Close btn btn-primary" onclick="selectflightLook()" style="margin-right:4px;">Select</button>
                <input type="hidden" id="flightNumb" />
                <input type="hidden" id="flightDate" />
                <input type="hidden" id="flightfrom" />
                <input type="hidden" id="flightto" />
            </div>
        </div>
    </div>
</div>

<div id="showAirportCode" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 874px; left:10%">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Airport Lookup</h5>
                <button type="button" class="close" style="position: relative;top: -21px;" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body-fim" style="height: 71vh;">
                <div class="ajax-loader">
                    <img src="@Url.Content("~/Images/load.gif")" class="img-responsive" style="top: -54px;height: 110px;width: 274px;" />
                </div>
                <div class="col-sm-12 n-padding head-fim">
                    <div class="col-sm-6">
                        <table>
                            <tr>
                                <td style="color:white">Type the airport code</td>
                                <td><input type="text" class="form-engine" onkeyup="chercheAirportCode(this.value)" /></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-sm-12 n-padding dataAirportCode" style="margin-left:0px;overflow:auto;height:61vh">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="pink">AirportCode</th>
                                <th class="pink">City Code</th>
                                <th class="pink">Airport Name</th>
                                <th class="pink">City Name</th>
                                <th class="pink">Country</th>
                                <th class="pink">City Iso Code</th>
                                <th class="pink">Status</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer footer-fim">
                <label id="airportCode"> Airport Code :<span id="valueAirportCode"></span></label>
                <input type="hidden" id="nb" />
                <input type="hidden" id="airoportCode" />
                <button type="button" class="Close btn btn-default btn-close" data-dismiss="modal">Close</button>
                <button type="button" class="Close btn btn-primary" onclick="selectairportCode()" style="margin-right:4px;">Select</button>
            </div>
        </div>
    </div>
</div>
