@{if (ViewBag.message == "ie")
    {
        <link href="~/Content/ie-Sales.css" rel="stylesheet" />;
    }
    else
    {
        <link href="~/Content/Sales.css" rel="stylesheet" />;
    } }


<div class="top-process">
    <h3>Sales Management in-a-box</h3>
</div>
<div class="container-sales">
    <svg height="800" width="200" style="position:absolute;left:144px;top:-21px;">
        <polyline points="50 65,125 65" style="fill:none;stroke:gray;stroke-width:3" />
    </svg>
    <svg height="800" width="200" style="position:absolute;left:101px;top:10px;">
        <polyline points="50 65,50 660" style="fill:none;stroke:gray;stroke-width:3" />
        <polyline points="50 103.5,20 103.5" style="fill:none;stroke:gray;stroke-width:3" />
        <polyline points="50 126.5,80 126.5" style="fill:none;stroke:gray;stroke-width:3" />
        <polyline points="50 181.5,20 181.5" style="fill:none;stroke:gray;stroke-width:3" />
        <polyline points="50 232.5,80 232.5" style="fill:none;stroke:gray;stroke-width:3" />
        <polyline points="50 266.5,19 266.5" style="fill:none;stroke:gray;stroke-width:3" />
        <polyline points="50 425.5,20 425.5" style="fill:none;stroke:gray;stroke-width:3" />
        <polyline points="50 495.5,20 495.5" style="fill:none;stroke:gray;stroke-width:3" />
        <polyline points="50 564.5,20 564.5" style="fill:none;stroke:gray;stroke-width:3" />
        <polyline points="50 660,55 663,80 663" style="fill:none;stroke:gray;stroke-width:3" />
    </svg>
    <svg height="800" width="200" style="position:absolute;left:17px;top:213px;">
        <polyline points="50 65,50 120" style="fill:none;stroke:gray;stroke-width:3" />
    </svg>
    <svg height="800" width="200" style="position:absolute;left:17px;top:525px;">
        <polyline points="50 65,50 120" style="fill:none;stroke:gray;stroke-width:3" />
    </svg>
    <svg height="800" width="200" style="position:absolute;left:182px;top:210px;">
        <polyline points="50 65,50 160" style="fill:none;stroke:gray;stroke-width:3" />
    </svg>
    <svg height="800" width="200" style="position:absolute;left:182px;top:366px;">
        <polyline points="50 65,50 160" style="fill:none;stroke:gray;stroke-width:3" />
    </svg>
    <svg height="800" width="200" style="position:absolute;left:219px;top:180px;">
        <polyline points="50 65,120 65" style="fill:none;stroke:gray;stroke-width:3" />
    </svg>
    <svg height="800" width="200" style="position:absolute;left:354px;top:80px;">
        <polyline points="50 100,50 23,53 20,70 20" style="fill:none;stroke:gray;stroke-width:3" />
    </svg>
    <svg height="800" width="200" style="position:absolute;left:778px;top:80px;">
        <polyline points="50 100,50 23,53 20,100 20" style="fill:none;stroke:gray;stroke-width:3" />
    </svg>
    <svg height="800" width="200" style="position:absolute;left:578px;top:80px;">
        <polyline points="50 100,50 23,53 20,70 20" style="fill:none;stroke:gray;stroke-width:3" />
    </svg>
    <svg height="800" width="200" style="position:absolute;left:381px;top:236px;">
        <polyline points="50 65,50 150" style="fill:none;stroke:gray;stroke-width:3" />
    </svg>
    <svg height="800" width="200" style="position:absolute;left:584px;top:236px;">
        <polyline points="50 65,50 150" style="fill:none;stroke:gray;stroke-width:3" />
    </svg>
    <svg height="800" width="200" style="position:absolute;left:740px;top:236px;">
        <polyline points="50 65,50 370" style="fill:none;stroke:gray;stroke-width:3" />
        <polyline points="50 168,90 168" style="fill:none;stroke:gray;stroke-width:3" />
        <polyline points="50 242,90 242" style="fill:none;stroke:gray;stroke-width:3" />
        <polyline points="50 316,90 316" style="fill:none;stroke:gray;stroke-width:3" />
        <polyline points="50 316,50 378,55 380,90 380" style="fill:none;stroke:gray;stroke-width:3" />
    </svg>
    <svg height="800" width="400" style="position:absolute;left:852px;top:152px;">
        <polyline points="50 65,277 65,280 68,280 299,283 302,328 302" style="fill:none;stroke:gray;stroke-width:3" />
    </svg>
    <svg height="800" width="300" style="position:absolute;left:852px;top:192px;">
        <polyline points="50 65,211 65,214 68,214 227" style="fill:none;stroke:gray;stroke-width:3" />
    </svg>
    <svg height="800" width="200" style="position:absolute;left:381px;top:388px;">
        <polyline points="50 65,50 89" style="fill:none;stroke:gray;stroke-width:3" />
    </svg>
    <svg height="800" width="200" style="position:absolute;left:311px;top:463px;">
        <polyline points="50 65,50 18,53 15,169 15,172 18,172 65" style="fill:none;stroke:gray;stroke-width:3" />
    </svg>
    <svg height="800" width="200" style="position:absolute;left:585px;top:388px;">
        <polyline points="50 65,50 89" style="fill:none;stroke:gray;stroke-width:3" />
    </svg>
    <svg height="800" width="200" style="position:absolute;left:557px;top:463px;">
        <polyline points="35 65,35 18,38 15,151 15,154 18,154 65" style="fill:none;stroke:gray;stroke-width:3" />
    </svg>
    <svg height="800" width="200" style="position:absolute;left:311px;top:522px;">
        <polyline points="50 65,50 117" style="fill:none;stroke:gray;stroke-width:3" />
    </svg>
    <svg height="800" width="200" style="position:absolute;left:654px;top:523px;">
        <polyline points="50 65,50 113" style="fill:none;stroke:gray;stroke-width:3" />
    </svg>
    <svg height="800" width="200" style="position:absolute;left:961px;top:306px;">
        <polyline points="50 150,15 150,15 410" style="fill:none;stroke:gray;stroke-width:3" />
        <polyline points="15 223,50 223" style="fill:none;stroke:gray;stroke-width:3" />
        <polyline points="15 410,20 413,50 413" style="fill:none;stroke:gray;stroke-width:3" />
    </svg>
    <svg height="800" width="200" style="position:absolute;left:1016px;top:495px;">
        <polyline points="50 65,50 118" style="fill:none;stroke:gray;stroke-width:3" />
    </svg>
    <div class="button-sales-1">
        <button class="type-sales-5" style="margin-right: 53px"> Sales Data Upload</button>
        <button class="type-sales-6" data-url="@Url.Action("TotalAmountPSR","Sales")" onclick="ajout(this,'TotalAmountPSR', 'Sales', 'Total Amount PSR')">Total Amount Per PSR</button>
    </div>
    <div class="button-sales-1-2">
        <span class="glyphicon glyphicon-triangle-right"></span>
        <button class="type-sales-3" style="margin-right: 100px" data-url="@Url.Action("FIMManager","Sales")" onclick="ajout(this,'FIMManager', 'Sales', 'FIM Manager')"> FIMs</button>
        <span class="glyphicon glyphicon-triangle-right"></span>
        <button class="type-sales-2" style="margin-right: 100px" data-url="@Url.Action("UnusedDocsCpns","Sales")" onclick="ajout(this,'UnusedDocsCpns', 'Sales', 'Unused Docs/Cpns')"> Unused Docs/Cpns</button>
        <span class="glyphicon glyphicon-triangle-right"></span>
        <button class="type-sales-6">Ancillaries</button>
    </div>
    <div class="button-sales-2">
        <button class="type-sales-2" style="margin-bottom: 15px" data-url="@Url.Action("KeyControllingData","Sales")" onclick="ajout(this,'KeyControllingData', 'Sales', 'Key Controlling Data')"> Key Controlling Data</button>
        @{
            if (ViewBag.message == "ie")
            {
                <span class="glyphicon glyphicon-triangle-left " style="position:relative!important; top:-13px;left:-7px;"></span>;
            }
            else
            {
                <span class="glyphicon glyphicon-triangle-left "></span>;
            }
        }
        <button class="type-sales-2" style="margin-bottom: 15px"> Key Fields Breakdown</button>
        @{
            if (ViewBag.message == "ie")
            {
                <span class="glyphicon glyphicon-triangle-left " style="position:relative!important; top:-13px;left:-7px;"></span>;
            }
            else
            {
                <span class="glyphicon glyphicon-triangle-left "></span>;
            }
        }
        <button class="type-sales-6" style="margin-bottom: 15px;margin-left: 8px" data-url="@Url.Action("PAXTKTs","Sales")" onclick="ajout(this,'PAXTKTs','Sales','Issues')"> Issues</button>
        <span class="glyphicon glyphicon-triangle-left"></span>
        <span class="glyphicon glyphicon-triangle-bottom" style="margin-left: 49px"></span>
        <button class="type-sales-3" style="margin-bottom: 15px;margin-left: 8px" data-url="@Url.Action("Cancellations","Sales")" onclick="ajout(this,'Cancellations', 'Sales', 'Cancellations')"> Cancellations</button>
        <button class="type-sales-6" style="margin-bottom: 15px;margin-left: 8px" data-url="@Url.Action("PAXTKTs","Sales")" onclick="ajout(this,'PAXTKTs','Sales','ACMA')"> ACMs</button>
        <span class="glyphicon glyphicon-triangle-left"></span>
        <button class="type-sales-6" style="margin-bottom: 15px;margin-left: 8px" data-url="@Url.Action("PAXTKTs","Sales")" onclick="ajout(this,'PAXTKTs','Sales','ADMA')"> ADMs</button>
        <span class="glyphicon glyphicon-triangle-left"></span>
        <button class="type-sales-6" style="margin-bottom: 28px;margin-left: 8px" data-url="@Url.Action("ListofRefunds","Sales")" onclick="ajout(this,'ListofRefunds', 'Sales', 'ListofRefunds')"> Refunds</button>
        <span class="glyphicon glyphicon-triangle-left"></span>
        <span class="glyphicon glyphicon-triangle-bottom" style="margin-left: 49px"></span>
        <button class="type-sales-3" style="margin-left: 8px" data-url="@Url.Action("CommissionReclaim","Sales")" onclick="ajout(this,'CommissionReclaim', 'Sales', 'Commission Reclaim')"> Commission Reclaim</button>


    </div>
    <div class="button-sales-3">
        @{
            if (ViewBag.message == "ie")
            {
                <span class="glyphicon glyphicon-triangle-right" style="position:relative!important;top:-12px;"></span>;
            }
            else
            {
                <span class="glyphicon glyphicon-triangle-right"></span>
            }
        }
        <button class="type-sales-2" style="margin-bottom: 32px" data-url="@Url.Action("PassengerAgencyDetails","Sales")" onclick="ajout(this,'PassengerAgencyDetails', 'Sales', 'Passenger Agency Details')"> Passenger Agency Details</button>
        <span class="glyphicon glyphicon-triangle-right"></span>
        <button class="type-sales-5" style="margin-bottom: 79px" data-url="@Url.Action("TransactionType","Sales")" onclick="ajout(this,'TransactionType','Sales','Transaction Type')">Transaction Types</button>
        <span class="glyphicon glyphicon-triangle-bottom" style="margin-left: 55px"></span>
        <button class="type-sales-9" style="margin-bottom: 55px;margin-left: 14px" data-url="@Url.Action("INAD","Sales")" onclick="ajout(this,'INAD','Sales','INAD')"> INAD</button>
        <span class="glyphicon glyphicon-triangle-bottom" style="margin-left: 55px"></span>
        @{
            if (ViewBag.message == "ie")
            {
                <button class="type-sales-8" style="margin-bottom: 60px;margin-left: 8px; position:relative;top:3px" data-url="@Url.Action("INADOalCostSharing","Sales")" onclick="ajout(this,'INADOalCostSharing', 'Sales', 'INAD-Oal Cost Sharing')"> INAD - OAL Cost Sharing</button>;
            }
            else
            {
                <button class="type-sales-8" style="margin-bottom: 60px;margin-left: 8px" data-url="@Url.Action("INADOalCostSharing","Sales")" onclick="ajout(this,'INADOalCostSharing', 'Sales', 'INAD-Oal Cost Sharing')"> INAD - OAL Cost Sharing</button>;
            }
        }
        <span class="glyphicon glyphicon-triangle-right"></span>
        <button class="type-sales-6">Waivers</button>
    </div>

    <div class="button-sales-4">
        <span class="glyphicon glyphicon-triangle-right"></span>
        <button class="type-sales-4" style="margin-right: 14px;margin-top: 33px;margin-left: 31px" data-url="@Url.Action("PAXTKTs","Sales")" onclick="ajout(this,'PAXTKTs','Sales','PAX TKTs')">PAX TKTs</button>
        <button class="type-sales-4" style="margin-right: 14px;margin-top: 33px" data-url="@Url.Action("PAXTKTs","Sales")" onclick="ajout(this,'PAXTKTs', 'Sales', 'EMDs')">EMDs</button>
        <button class="type-sales-4" style="margin-right: 14px;margin-top: 33px" data-url="@Url.Action("PAXTKTs","Sales")" onclick="ajout(this,'PAXTKTs','Sales','EBTs')">EBTs</button>
        <button class="type-sales-4" style="margin-right: 14px;margin-top: 33px" data-url="@Url.Action("PAXTKTs","Sales")" onclick="ajout(this,'PAXTKTs','Sales','MCOs')">MCOs</button>
        <button class="type-sales-4" style="margin-right: 14px;margin-top: 33px" data-url="@Url.Action("PAXTKTs","Sales")" onclick="ajout(this,'PAXTKTs','Sales','MPDs')">MPDs</button>
    </div>
    <div class="button-sales-5">
        <span class="glyphicon glyphicon-triangle-bottom" style="margin-left: 46px;margin-right: 110px;"></span>
        <span class="glyphicon glyphicon-triangle-bottom" style="margin-left: 71px;margin-right: 5px;"></span>
        <button class="type-sales-10" style="margin-right: 97px" data-url="@Url.Action("Exchanges","Sales")" onclick="ajout(this,'Exchanges', 'Sales', 'Exchanges')"> Exchanges</button>

        <button class="type-sales-10" data-url="@Url.Action("FrmRefundEngine","Sales")" onclick="ajout(this,'FrmRefundEngine', 'Sales', 'FrmRefundEngine')">Refunds</button>
    </div>
    <div class="button-sales-6">
        <span class="glyphicon glyphicon-triangle-bottom" style="position: relative!important;left: 46px;top:20px;"></span>
        <span class="glyphicon glyphicon-triangle-bottom" style="margin-left: 95px;position: relative!important;top: 20px;left: 51px;"></span>
        <span class="glyphicon glyphicon-triangle-bottom" style="margin-left: 58px;position: relative!important;left: 80px;top: 20px;"></span>
        <span class="glyphicon glyphicon-triangle-bottom" style="margin-left: 74px;margin-right: 5px;position: relative!important;left: 103px;top: 20px;"></span>
        @{
            if (ViewBag.message == "ie")
            {
                <button class="type-sales-8" style="margin-right: 25px;position:relative;top:11px;" data-url="@Url.Action("ExchangesOAL","Sales")" onclick="ajout(this,'ExchangesOAL', 'Sales', 'Exchanges-OAL')">OAL Exchanged Cpns Billings</button>;
            }
            else
            {
                <button class="type-sales-8" style="margin-right: 25px" data-url="@Url.Action("ExchangesOAL","Sales")" onclick="ajout(this,'ExchangesOAL', 'Sales', 'Exchanges-OAL')">OAL Exchanged Cpns Billings</button>;
            }

        }
        <button class="type-sales-7" style="margin-right: 25px" data-url="@Url.Action("ExchangesOWN","Sales")" onclick="ajout(this,'ExchangesOWN', 'Sales', 'Exchanges-OWN')">OWN</button>
        @{
            if (ViewBag.message == "ie")
            {
                <button class="type-sales-8" style="margin-right: 13px;position:relative;top:11px;" data-url="@Url.Action("OALRefundedCouponsBilling","Sales")" onclick="ajout(this,'OALRefundedCouponsBilling', 'Sales', 'OAL Refunded Coupons Billing')">OAL Refunded Cpns Billings</button>
            }
            else
            {
                <button class="type-sales-8" style="margin-right: 13px" data-url="@Url.Action("OALRefundedCouponsBilling","Sales")" onclick="ajout(this,'OALRefundedCouponsBilling', 'Sales', 'OAL Refunded Coupons Billing')">OAL Refunded Cpns Billings</button>;
            }
        }
        <button class="type-sales-7" data-url="@Url.Action("RefundOwn","Sales")" onclick="ajout(this,'RefundOwn', 'Sales', 'Refund-own')">OWN</button>
        @{
            if (ViewBag.message == "ie")
            {
                <span class="glyphicon glyphicon-triangle-bottom" style="position: relative!important;top: 87px;left: -383px;"></span>;
            }
            else
            {
                <span class="glyphicon glyphicon-triangle-bottom" style="position: relative!important;top: 94px;left: -383px;"></span>;
            }
        }
        <span class="glyphicon glyphicon-triangle-bottom" style="margin-left: 105px;margin-top: 36px; position: relative!important; top: 10px;left: 284px;"></span>
        @{
            if (ViewBag.message == "ie")
            {
                <button class="type-sales-8" style="margin-right: 226px;position:relative;top:2px" data-url="@Url.Action("ISCReclaimOAL","Sales")" onclick="ajout(this,'ISCReclaimOAL','Sales','ISC Reclaim OAL')">ISC Reclaim</button>;
            }
            else
            {
                <button class="type-sales-8" style="margin-right: 226px" data-url="@Url.Action("ISCReclaimOAL","Sales")" onclick="ajout(this,'ISCReclaimOAL','Sales','ISC Reclaim OAL')">ISC Reclaim</button>;
            }
        }
        <button class="type-sales-8">Retroactive Adj</button>
    </div>
    <div class="button-sales-7">
        <span class="glyphicon glyphicon-triangle-right"></span>
        <button class="type-sales-6" style="margin-bottom: 19px" data-url="@Url.Action("Tfcs","Sales")" onclick="ajout(this,'Tfcs','Sales', 'Tfcs')"> TFCs</button>
        <span class="glyphicon glyphicon-triangle-right"></span>
        <button class="type-sales-6" style="margin-bottom: 19px" data-url="@Url.Action("Surcharges","Sales")" onclick="ajout(this,'Surcharges', 'Sales', 'Surcharges')"> Surcharges</button>
        <span class="glyphicon glyphicon-triangle-right"></span>
        <button class="type-sales-6" style="margin-bottom: 19px" data-url="@Url.Action("Vat","Sales")" onclick="ajout(this,'Vat', 'Sales', 'Vat')"> VAT</button>
        @{
            if (ViewBag.message == "ie")
            {
                <span class="glyphicon glyphicon-triangle-right" style="position:relative!important; top:-17px;"></span>;
            }
            else
            {
                <span class="glyphicon glyphicon-triangle-right"></span>
            }
        }
        <button class="type-sales-6" style="margin-bottom: 19px" data-url="@Url.Action("IndustryRemuneration","Sales")" onclick="ajout(this,'IndustryRemuneration','Sales', 'Industry Remuneration')"> Industry Remuneration</button>
    </div>
    <div class="button-sales-8">
        <span class="glyphicon glyphicon-triangle-bottom" style="margin-left: 60px"></span>
        <button class="type-sales-2" style="margin-bottom: 20px;margin-left: 14px" data-url="@Url.Action("FormOfPayementType","Sales")" onclick="ajout(this,'FormOfPayementType', 'Sales', 'Form Of Payement Type')"> FOP Types</button>
        @{
            if (ViewBag.message == "ie")
            {
                <span class="glyphicon glyphicon-triangle-right" style="position:relative!important; top:-9px;"></span>;
            }
            else
            {
                <span class="glyphicon glyphicon-triangle-right"></span>;
            }
        }
        <button class="type-sales-8" style="margin-bottom: 38px" data-url="@Url.Action("FOPUATPBillingsToOALs","Sales")" onclick="ajout(this,'FOPUATPBillingsToOALs', 'Sales', 'FOP-UATP Billings To OALs')"> FOP-UATP Billings to OALs</button>
        <span class="glyphicon glyphicon-triangle-bottom" style="margin-left: 60px"></span>
        <button class="type-sales-3" style="margin-bottom: 19px;margin-left: 14px" data-url="@Url.Action("UATPDiscountReclaim","Sales")" onclick="ajout(this,'UATPDiscountReclaim', 'Sales', 'UATP Discount Reclaim')"> UATP Discount Reclaim</button>
        <span class="glyphicon glyphicon-triangle-right"></span>
        <button class="type-sales-4" data-url="@Url.Action("FOPOthers","Sales")" onclick=" ajout(this,'FOPOthers','Sales','FOP Others')"> FOP - Others</button>
    </div>
    <div class="button-sales-9">

        <span class="glyphicon glyphicon-triangle-right"></span>
        <button class="type-sales-2" data-url="@Url.Action("ExpectedEIROFR","Sales")" onclick="ajout(this,'ExpectedEIROFR', 'Sales', 'Expected-EIR OFR')">
            Expected EIR & OFR
        </button>

    </div>
</div>