@*
    Harentsoa
    Modal : _AirlineDetails
*@


<table class="table table-bordered tablehead" id="tabRefAirlines">
    <tr>
        <th>Field Name</th>
        <th>Data Value</th>
    </tr>
    <tr>
        <td>AirlineID</td>
        <td>@ViewBag.AirlineID</td>
    </tr>
    <tr>
        <td>AirlineCode</td>
        <td>@ViewBag.AirlineCode</td>
    </tr>


    <tr>
        <td>AirlineName</td>
        <td>@ViewBag.AirlineName</td>
    </tr>

    <tr>
        <td>Zone</td>
        <td>@ViewBag.AirlineZone</td>
    </tr>

    <tr>
        <td>Status</td>
        <td>@ViewBag.AirlineStatus</td>
    </tr>

    <tr>
        <td>Category</td>
        <td>@ViewBag.AirlineCategory</td>
    </tr>

    <tr>
        <td>AdressL1</td>
        <td>@ViewBag.AirlineAdressL1</td>
    </tr>

    <tr>
        <td>AdressL2</td>
        <td>@ViewBag.AirlineAdressL2</td>
    </tr>

    <tr>
        <td>AdressL3</td>
        <td>@ViewBag.AirlineAdressL3</td>
    </tr>

    <tr>
        <td>CountryName</td>
        <td>@ViewBag.AirlineCountryName</td>
    </tr>

    <tr>
        <td>CountryCode</td>
        <td>@ViewBag.AirlineCountryCode</td>
    </tr>

    <tr>
        <td>CityName</td>
        <td>@ViewBag.AirlineCityName</td>
    </tr>

    <tr>
        <td>PostalCode</td>
        <td>@ViewBag.AirlinePostalCode</td>
    </tr>

    <tr>
        <td>ICHMember</td>
        <td>@ViewBag.AirlineICHMember</td>
    </tr>

    <tr>
        <td>SettlementMethod</td>
        <td>@ViewBag.AirlineSettlementMethod</td>
    </tr>
</table>




