
    <div class="col-sm-6">
        <div class="row textlabel">
            <label class="col-sm-3">Ticket Issuing Airline</label>
            <div class="col-sm-3">
                <input type="text" id="IssuingAirline" value="@ViewBag.IssuingAirline" />
            </div>
            <label class="col-sm-3">Airline Flight Desinator</label>
            <div class="col-sm-3">
                <input type="text" id="Carrier" value="@ViewBag.Carrier" />
            </div>
        </div>

        <div class="row textlabel">
            <label class="col-sm-3">Coupon Number</label>
            <div class="col-sm-3">
                <input type="text" id="cpnD" value="@ViewBag.cpn" />
            </div>
            <label class="col-sm-3">Flight Number</label>
            <div class="col-sm-3">
                <input type="text" id="FlightNumber" value="@ViewBag.FlightNumber" />
            </div>
        </div>
        <div class="row textlabel">
            <label class="col-sm-4">Ticket/Document Number</label>
            <div class="col-sm-2" style="left: -55px;">
                <input type="text" class="" id="doc" value="@ViewBag.doc" />
            </div>
            <label class="col-sm-3">Flight Date</label>
            <div class="col-sm-3">
                <input type="text" class="" id="FlightDepartureDate" value="@ViewBag.FlightDepartureDate" />
            </div>
        </div>
        <div class="row textlabel">
            <label class="col-sm-3">Chek Digit</label>
            <div class="col-sm-3">
                <input type="text" class="" id="CheckDigit" value="@ViewBag.CheckDigit" />
            </div>
            <label class="col-sm-3">From Airport</label>
            <div class="col-sm-3">
                <input type="text" class="" id="OriginCity" value="@ViewBag.OriginCity" />
            </div>
        </div>
        <div class="row textlabel">
            <label class="col-sm-4">Electronik Ticket Indicator</label>
            <div class="col-sm-2" style="left: -55px;">
                <input type="text" class="" id="TicketingModeIndicator" value="@ViewBag.TicketingModeIndicator" />
            </div>
            <label class="col-sm-3">To Airport</label>
            <div class="col-sm-3">
                <input type="text" class="" id="DestinationCity" value="@ViewBag.DestinationCity" />
            </div>
        </div>
        <div class="row textlabel">
            <label class="col-sm-3">ESAC</label>
            <div class="col-sm-3">
                <input type="text" class="" id="SettlementAuthorizationCode" value="@ViewBag.SettlementAuthorizationCode" />
            </div>
            <label class="col-sm-3">Cabin Class</label>
            <div class="col-sm-3">
                <input type="text" class="" id="FareBasisTicketDesignator" value="@ViewBag.FareBasisTicketDesignator" />
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row textlabel">
            <label class="col-sm-3">Agreement Indicator</label>
            <div class="col-sm-3">
                <input type="text" class="" id="AgreementIndicator" value="" />
            </div>
            <label class="col-sm-3">Reference Field 1</label>
            <div class="col-sm-3">
                <input type="text" class="" id="ReferenceField1" />
            </div>
        </div>
        <div class="row textlabel">
            <label class="col-sm-3">Original PMI</label>
            <div class="col-sm-3">
                <input type="text" class="" id="OriginalPMI" />
            </div>
            <label class="col-sm-3">Reference Field 2</label>
            <div class="col-sm-3">
                <input type="text" class="" id="ReferenceField2" />
            </div>
        </div>
        <div class="row textlabel">
            <label class="col-sm-3">Validate MPI</label>
            <div class="col-sm-3">
                <input type="text" class="" id="ValidateMPI" />
            </div>
            <label class="col-sm-3">Reference Field 3</label>
            <div class="col-sm-3">
                <input type="text" class="" id="ReferenceField3" />
            </div>
        </div>
        <div class="row textlabel">
            <label class="col-sm-3">Protate Methodologie</label>
            <div class="col-sm-3">
                <input type="text" class="" id="ProrateMethodologie" />
            </div>
            <label class="col-sm-3">Reference Field 4</label>
            <div class="col-sm-3">
                <input type="text" class="" id="ReferenceField4" />
            </div>
        </div>
        <div class="row textlabel">
            <label class="col-sm-3">Airline Own Use</label>
            <div class="col-sm-3">
                <input type="text" class="" id="AirlineOwnUse" />
            </div>
            <label class="col-sm-3">Reference Field 5</label>
            <div class="col-sm-3">
                <input type="text" class="" id="ReferenceField5" />
            </div>
        </div>
    </div>

