<input type="hidden" value="@ViewBag.TaxId" id="TaxRefID"/>
<input type="hidden" value="@ViewBag.ActionId" id="idActionRef" />

<div class="col-md-1">
        <input type="text" value="@ViewBag.FromAirport" id="TaxRefFromAirport" disabled />
    </div>
    <div class="col-md-1">
        <input type="text" value="@ViewBag.ToAirport" id="taxRefToAirport" disabled />
    </div>
    <div class="col-md-1">
        <input type="text" value="@ViewBag.MappedPrimeCode" id="taxRefMappedPrimeCode" disabled />
    </div>
    <div class="col-md-1">
        <input type="text" value="@ViewBag.PassengerType" id="taxRefPassengerType" disabled />
    </div>
    <div class="col-md-1">
        <input type="text" value="@ViewBag.DomInt" id="taxRefDomInt" disabled />
    </div>
    <div class="col-md-1">
        <input type="text" value="@ViewBag.TransitDuration" id="taxRefTransitDuration" disabled />
    </div>
    <div class="col-md-1">
        <input type="text" value="@ViewBag.ValidFrom" id="taxRefValidFrom" disabled />
    </div>
    <div class="col-md-1">
        <input type="text" value="@ViewBag.ValidTo" id="taxRefValidTo" disabled />
    </div>
    <div class="col-md-1">
        <input type="text" value="@ViewBag.TaxCode" id="taxRefTaxCode" disabled />
    </div>
    <div class="col-md-1">
        <input type="text" value="@ViewBag.TaxCurrency" id="taxRefTaxCurrency" disabled />
    </div>
    <div class="col-md-1">
        <input type="text" value="@ViewBag.TaxAmount" id="taxRefTaxAmount" disabled />
    </div>
    <div class="col-md-1">
        <input type="text" value="@ViewBag.TaxPercentage" id="taxRefTaxPercentage" disabled />
    </div>


