<div class="top-process">
    <h3>Lift Management in-a-box</h3>
</div>

<div class="containers1">

    <!-- polyline LiftData upload-->
    <svg height="20" width="303" style="position:absolute;left:245px;top: 73px;">
        <polyline points="0 10,292 10" style="fill:none;stroke:gray;stroke-width:3">

        </polyline>
    </svg>

    <!-- polyline2 No sHow -->
    <svg height="20" width="221" style="position:absolute;left:666px;top: 72px;">
        <polyline points="0 10,500 10" style="fill:none;stroke:gray;stroke-width:3">
        </polyline>
    </svg>

    <!-- polyline1 line horizontale PNL PFS /Total head counts -->
    <svg height="20" width="109" style="position:absolute;left:27px;top: 405px">
        <polyline points="43 10,110 10" style="fill:none;stroke:gray;stroke-width:3">
        </polyline>
    </svg>

    <!-- polyline1 line horizontale /PNL -->
    <svg height="20" width="105" style="position:absolute;left:26px;top: 690px">
        <polyline points="45 10,500 10" style="fill:none;stroke:gray;stroke-width:3">

        </polyline>
    </svg>

    <!-- polyline1 LINE HORIZONTALE  TKTs/EBTs/EMDs-->
    <svg height="20" width="206" style="position:absolute;left:825px;top:274px">
        <polyline points="0 10,202 10" style="fill:none;stroke:gray;stroke-width:3">
        </polyline>

    </svg>

    <!-- polyline1 LIGNE VERTICALE SLS/Total Heading-->
    <svg height="100" width="100" style="position:absolute;left: 139px;top: 425px;">
        <polyline points="49 39,50 154" style="fill:none;stroke:gray;stroke-width:3"></polyline>
    </svg>


    <!-- polyline1  Total Heading/compare-->
    <svg height="110" width="110" style="position:absolute;left:152px;top: 261px;">
        <polyline points="70 118,70 63,73 60,103 60,106 57,106 9" style="fill:none;stroke:gray;stroke-width:3"></polyline>
    </svg>

    <!-- polyline1  compare/Pasenger lift-->
    <svg height="115" width="500" style="position:absolute;left:209px;top:83px">
        <polyline points="50 115,50 73,53 70,362 70,365 67,365 35" style="fill:none;stroke:gray;stroke-width:3"></polyline>
    </svg>

    <!-- polyline1 Surcharges/Flown Revenue-->
    <svg height="400" width="100" style="position:absolute;left: 735px;top: 379px;">
        <polyline points="53 115,50 118,50 350,47 353" style="fill:none;stroke:gray;stroke-width:3"></polyline>
    </svg>
    <svg height="20" width="109" style="position:absolute;left: 784px;top: 485px;">
        <polyline points="0 10,67 10" style="fill:none;stroke:gray;stroke-width:3">
        </polyline>
    </svg>
    <svg height="20" width="150" style="position:absolute;left: 664px;top: 721px;">
        <polyline points="4 10,120 10" style="fill:none;stroke:gray;stroke-width:3">
        </polyline>
    </svg>

    <!-- polyline1  Sales Matching/Flown Without Matching -->
    <svg height="200" width="200" style="position:absolute;left: 294px;top: 506px;">
        <polyline points="120 185,120 58,123 55,200 55" style="fill:none;stroke:gray;stroke-width:3"></polyline>
    </svg>

    <!-- polyline1  OutwardBillings/Flown Revenue -->
    <svg height="100" width="175" style="position:absolute;left: 528px;top: 594px;">
        <polyline points="80 120,80 44,83 41,147 41" style="fill:none;stroke:gray;stroke-width:3"></polyline>
    </svg>
    <svg height="50" width="88" style="position:absolute;left: 627px;top: 585px;">
        <polyline points="50 0,50 47,47 50" style="fill:none;stroke:gray;stroke-width:3"></polyline>
    </svg>


    <!-- polyline1  Sales Matching/Flown Revenue -->
    <svg height="65" width="143" style="position:absolute;left: 473px;top: 585px;">
        <polyline points="70 0,70 47,73 50,149 50,152 52" style="fill:none;stroke:gray;stroke-width:3"></polyline>
    </svg>






    <!-- polyline1 LIGNE VERTICALE PNL/total Heading-->
    <svg height="800" width="130" style="position:absolute;left:18px;top:298px">
        <polyline points="53 118,50 121,50 399,53 402" style="fill:none;stroke:gray;stroke-width:3"></polyline>
    </svg>




    <!-- polyline1 LIGNE VERTICALE LDM/total Heading-->
    <svg height="332" width="70" style="position:absolute;left:258px;top:298px">
        <polyline points="47 115,50 118,50 328,47 331" style="fill:none;stroke:gray;stroke-width:3"></polyline>
    </svg>
    <svg height="20" width="55" style="position:absolute;left:252px;top: 404px">
        <polyline points="0 10,92 10" style="fill:none;stroke:gray;stroke-width:3">
        </polyline>
    </svg>
    <svg height="20" width="60px" style="position:absolute;left:250px;top: 619px">
        <polyline points="0 10,56 10" style="fill:none;stroke:gray;stroke-width:3">

        </polyline>
    </svg>

    <!-- polyline1 LIGNE VERTICAL passenger lift/TKTs-->
    <svg height="215" width="130" style="position:absolute;left:559px;top:-4px">
        <polyline points="50 115,50 402" style="fill:none;stroke:gray;stroke-width:3"></polyline>
    </svg>

    <!-- polyline1 LIGNE VERTICAL TKT/OWN-->
    <svg height="175" width="130" style="position:absolute;left: 494px;top: 238px;">
        <polyline points="50 85,50 184" style="fill:none;stroke:gray;stroke-width:3"></polyline>
    </svg>

    <!-- polyline1 LIGNE VERTICAL OWN/Sales matching-->
    <svg height="60" width="130" style="position: absolute;left: 494px;top: 474px;">
        <polyline points="50 57,50 10" style="fill:none;stroke:gray;stroke-width:3"></polyline>
    </svg>

    <!-- polyline1 LIGNE VERTICAL TKT/OAL-->
    <svg height="127" width="130" style="position:absolute;left: 629px;top: 286px;">
        <polyline points="50 45,50 402" style="fill:none;stroke:gray;stroke-width:3"></polyline>
    </svg>

    <!-- polyline1 LIGNE VERTICAL OAL/Outward Billings-->
    <svg height="60" width="130" style="position: absolute;left: 629px;top: 484px;">
        <polyline points="50 1,50 50" style="fill:none;stroke:gray;stroke-width:3"></polyline>
    </svg>

    <!--  polyline1 LIGNE VERTICALE Lift DAtaUpload/Total Heading-->
    <svg height="420" width="130" style="position:absolute;left:138px;top:-59px">
        <polyline points="50 170,50 430" style="fill:none;stroke:gray;stroke-width:3"></polyline>
        <polyline points="50 334.5,16 334.5"
                  style="fill:none;stroke:gray;stroke-width:3">
        </polyline>
        <polyline points="51 238,16 238"
                  style="fill:none;stroke:gray;stroke-width:3">
        </polyline>
    </svg>

    <!-- polyline1 Ligne verticale  TFCs/VAt/Handing fee-->
    <svg height="800" width="130" style="position:absolute;left:979px;top:112px">
        <polyline points="47 172,50 175,50 569,47 572" style="fill:none;stroke:gray;stroke-width:3"></polyline>

        <polyline points="50 313,0 313" style="fill:none;stroke:gray;stroke-width:3">
        </polyline>

        <polyline points="50 377.5,0 377.5" style="fill:none;stroke:gray;stroke-width:3">
        </polyline>

        <polyline points="50 442.5,0 442.5"
                  style="fill:none;stroke:gray;stroke-width:3">
        </polyline>

        <polyline points="50 513.5,0 513.5"
                  style="fill:none;stroke:gray;stroke-width:3">

        </polyline>

        <polyline points="48 572.5,0 572.5"
                  style="fill:none;stroke:gray;stroke-width:3">

        </polyline>
    </svg>

    <div class="button-prim">
        <button class="type1" style="margin-right: 279px;" data-url="@Url.Action("test","Interline")" onclick="ajout(this,'test','Interline')">Lift Data Upload</button>
        <span class="glyphicon glyphicon-triangle-right" style="position: relative !important;left: 8px;top: 7px;"></span>
        <button class="type1" style="margin-right: 190px;" data-url="@Url.Action("PassengerLift","Lift")" onclick="ajout(this,'PassengerLift', 'Lift', 'Passenger Lift')">Passenger Lift</button>
        <span class="glyphicon glyphicon-triangle-right" style="position: relative !important;left: 10px;top: 5px;"></span>
        <button class="type16"  data-url="@Url.Action("NoShow","Lift")" onclick="ajout(this,'NoShow', 'Lift', 'No Show')">No Show</button>
        <span class="glyphicon glyphicon-triangle-top" style="margin-left: 442px;position: relative !important;left: 1px;top: -7px;"></span>
    </div>

    <div class="button-secon">
        <button class="type2-1" style="margin-bottom: 27px;" data-url="@Url.Action("test","Interline")" onclick="ajout(this,'test','Interline')">SSIM</button>
        <span class="glyphicon glyphicon-triangle-left" onclick="ajout('test','Interline')"></span>
        <button class="type2-1"><label style="font-family: times;font-size:12px">Key Controlling Data</label></button>
        <span class="glyphicon glyphicon-triangle-left"></span>
    </div>
    <div class="button-quatre">
        <button class="type14" data-url="@Url.Action("Compare","Lift")" onclick="ajout(this,'Compare','Lift', 'Compare')">Compare</button>
        <span class="glyphicon glyphicon-triangle-top" style="margin-left: 38px;position: relative !important;left: 1px;top: -5px;"></span>
    </div>

    <div class="button-trois">
        <span class="glyphicon glyphicon-triangle-bottom" style="margin-right: 66px;margin-left: 57px;position: relative !important;left: 1px;top: 10px;"></span>
        <span class="glyphicon glyphicon-triangle-right" style="position: relative !important;left: 9px;"></span>
        <button class="type13"><label style="font-family: times;font-size:12px"data-url="@Url.Action("test","Interline")"  onclick="ajout('test','Interline')">Total Head Counts Validated</label></button>
        <span class="glyphicon glyphicon-triangle-left" style="position: relative !important;left: -9px;"></span>
        <span class="glyphicon glyphicon-triangle-top" style="margin-left: 57px;margin-bottom:50px;position: relative !important;left: 1px;top: -5px;"></span>
        <button class="type1" style="margin-left: 9px;margin-bottom: 19px;"  data-url="@Url.Action("SLS","Lift")" onclick="ajout(this,'SLS', 'Lift', 'SLS')">SLS</button>
        <button class="type1" style="margin-left: 9px;margin-bottom: 19px;" data-url="@Url.Action("LDM","Lift")" onclick="ajout(this,'LDM', 'Lift', 'LDM')">LDM</button>
        <button class="type1" style="margin-left: 9px;margin-bottom: 19px;" data-url="@Url.Action("PNLPFS","Lift")" onclick="ajout(this,'PNLPFS', 'Lift', 'PNL/PFS')">PNL/PFS</button>
    </div>
    <div class="button-glyf">
        <span class="glyphicon glyphicon-triangle-bottom"></span>
    </div>
    <div class="button-cinq">
        <button class="type11" style="margin-top: 34px;margin-left: 54px;" data-url="@Url.Action("PAXTKTs","Sales")" onclick="ajout(this,'PAXTKTs', 'Sales', 'Flown TKTs')">TKTs</button>
        <button class="type11" style="margin-top: 34px;" data-url="@Url.Action("PAXTKTs","Sales")" onclick="ajout(this,'PAXTKTs', 'Sales', 'Flown EBTs')">EBTs</button>
        <button class="type11" style="margin-top: 34px;" data-url="@Url.Action("PAXTKTs","Sales")" onclick="ajout(this,'PAXTKTs', 'Sales', 'Flown EMDs')">EMDs</button>
        <button class="type11" style="margin-top: 34px;" data-url="@Url.Action("PAXTKTs","Sales")" onclick="ajout(this,'PAXTKTs', 'Sales', 'Flown MCOs')">MCOs</button>
    </div>

    <div class="button-six">
        <span class="glyphicon glyphicon-triangle-bottom" style="margin-left: 42px"></span>
        <span class="glyphicon glyphicon-triangle-bottom" style="margin-left: 113px;margin-right:20px"></span>
        <button class="type14" style="margin-right: 34px;margin-bottom: 31px" data-url="@Url.Action("LiftForTransportOwn","Lift")" onclick="ajout(this,'LiftForTransportOwn', 'Lift', 'Lift For Transport-Own')">OWN</button>
        <button class="type15" data-url="@Url.Action("LiftForTransportOAL","Lift")" onclick="ajout(this,'LiftForTransportOAL', 'Lift', 'LiftForTransport-OAL')">OAL</button>
        <span class="glyphicon glyphicon-triangle-bottom" style="margin-left: 42px"></span>
        <span class="glyphicon glyphicon-triangle-bottom" style="margin-left: 113px;margin-right:20px"></span>
        <button class="type9" style="margin-right: -33px;margin-bottom: 47px" data-url="@Url.Action("SalesMatching","Lift")" onclick="ajout(this,'SalesMatching', 'Lift', 'Sales Matching')"><label style="font-family: times; font-size:13px">Sales Matching</label></button>
        <span class="glyphicon glyphicon-plus" style="margin-left: 37px;color: green" data-url="@Url.Action("test","Interline")" onclick="ajout(this,'test','Interline')"></span>
        <button class="type12" data-url="@Url.Action("OUTWARDBILLING", "Lift")" onclick="ajout(this,'OUTWARDBILLING','Lift','OUTWARD BILLING')"><label style="font-family: times;font-size:12px">Outward Billings</label></button>
    </div>
    <div class="button-sept">
        <span class="glyphicon glyphicon-triangle-bottom" style="margin-left: 42px;margin-right:98px"></span>
        <span class="glyphicon glyphicon-triangle-bottom" style="margin-left: 74px;margin-right:20px"></span>
        <button class="type1" style="margin-right: 55px;" data-url="@Url.Action("FlownWithoutSales", "Lift")" onclick="ajout(this,'FlownWithoutSales', 'Lift', 'Flown Without Sales')">Flown Without Sales</button>
        <button class="parallellogramme" data-url="@Url.Action("FlownRevenue", "Lift")" onclick="ajout(this,'FlownRevenue','Lift', 'Flown Revenue')">
            <label style="font-family: times; font-size:13px">Flown Revenue</label>
        </button><span class="glyphicon glyphicon-triangle-left"></span>
    </div>
    <div class="button-huit">
        <button class="type1" style="margin-bottom: 10px;" data-url="@Url.Action("TFCFLOWN", "Lift")" onclick="ajout(this,'TFCFLOWN','Lift','TFC-FLOWN-')">TFCs</button>
        <span class="glyphicon glyphicon-triangle-left"></span>
        <button class="type1" style="margin-bottom: 10px;"  data-url="@Url.Action("Surcharges", "Lift")" onclick="ajout(this,'Surcharges', 'Lift', 'Surcharges')">Surcharges</button>
        <span class="glyphicon glyphicon-triangle-left"></span>
        <button class="type1" style="margin-bottom: 10px;"  data-url="@Url.Action("VAT", "Lift")" onclick="ajout(this,'VAT','Lift','VAT')">VAT</button>
        <span class="glyphicon glyphicon-triangle-left"></span>
        <button class="type1" style="margin-bottom: 10px;"  data-url="@Url.Action("test", "Lift")" onclick="ajout(this,'test','Interline')"><label style="font-family: times;font-size:12px">Super/CodeShares Communication</label></button>
        <span class="glyphicon glyphicon-triangle-left"></span>
        <button class="type1" style="margin-bottom: 10px;"  data-url="@Url.Action("test", "Lift")" onclick="ajout(this,'test','Interline')">Heading Fee</button>
        <span class="glyphicon glyphicon-triangle-left"  data-url="@Url.Action("test", "Lift")" onclick="ajout(this,'test','Interline')"></span>
    </div>
</div>