@using System.Data
@model DataSet
<div id="newtemps">
    <input id="comboBox1SelectedIndex" type="text" value="@ViewBag.comboBox1SelectedIndex" />      comboBox1SelectedIndex
    <input id="txtAuthor" type="text" value="@ViewBag.txtAuthor" />   txtAuthor
    <input id="dateTimePicker1" type="text" value="@ViewBag.dateTimePicker1" /> dateTimePicker1
    <input id="txtDateLimit" type="text" value="@ViewBag.txtDateLimit" />  txtDateLimit
    <input id="txtDocRef" type="text" value="@ViewBag.txtDocRef" /> txtDocRef
    <input id="txtInvoiceNO" type="text" value="@ViewBag.txtInvoiceNO" /> txtInvoiceNO
    <input id="txtDocAmt" type="text" value="@ViewBag.txtDocAmt" /> txtDocAmt txtAccepted
    <input id="txtAccepted" type="text" value="@ViewBag.txtAccepted" /> txtAccepted
    <input id="txtDisputed" type="text" value="@ViewBag.txtDisputed" /> txtDisputed
    <input id="comboBox2SelectedIndex" type="text" value="@ViewBag.comboBox2SelectedIndex" /> comboBox2SelectedIndex
    <input id="dateTimePicker2" type="text" value="@ViewBag.dateTimePicker2" />  dateTimePicker2
    <input id="richTextBox1" type="text" value="@ViewBag.richTextBox1" />  richTextBox1


    <input id="DocumentNumber" type="text" value="@ViewBag.DocumentNumber" />  DocumentNumber
    <input id="CouponNo" type="text" value="@ViewBag.CouponNo" />  CouponNo
    <input id="ChargeCode" type="text" value="@ViewBag.ChargeCode" />  ChargeCode
    <input id="CorrespondenceNo" type="text" value="@ViewBag.CorrespondenceNo" />  CorrespondenceNo
    <input id="CoresNo" type="text" value="@ViewBag.CoresNo" />  CoresNo
</div>