@using System.Data
@model DataSet
<!--fait par christian-->
<div class="col" id="newdivselectpricing-Agc">
    <select type="text" id="pricing-Agc" class="myForm" onchange="Testagcode(this.value)">
        <option class="form-control" value="-All-">-All-</option>
        <option class="form-control" value="@ViewBag.code" selected>@ViewBag.code</option>
        @for (int i = 0; i < ViewBag.loncboAgt; i++)
        {
            <option class="form-control" value="@ViewBag.ListecboAgt[0, i]">@ViewBag.ListecboAgt[0, i]</option>
        }
    </select>
</div>

<div class="col" id="newdivpricing-AgnName"><input type="text" id="pricing-AgnName" class="myForm" value="@ViewBag.txtagentname" /></div>

<div class="col" id="newdivpricing-AgcCode"><input type="text" id="pricing-AgcCode" class="myForm" value="@ViewBag.txtAgentLocation"/></div>

<!--fin fait par christian-->