@using System.Data
@model DataSet

<div class="table-record-display" style="height:600px;overflow:auto">
    <table class="table table-bordered table-striped table-outward" style="width: 94%;">
        <thead>
            <tr>
                <th>Date of Issue</th>
                <th>Agent Numeric Code</th>
                <th>Agent Name</th>
                <th>POS</th>
                <th>Purchage Day</th>
                <th>Fare-Basis</th>
                <th>FCMI</th>
                <th>FOP Type</th>
                <th>Travel Day</th>
                <th>Ticketing & COT Lapse</th>
                <th>Remittance Currency</th>
                <th>Remittance Amount</th>
                <th>Counts</th>

            </tr>
        </thead>
        <tbody class="">
            @foreach (DataRow dr in Model.Tables[0].Rows)
            {
                <tr ondblclick="searchPOSSummaryDetails('@dr[Model.Tables[0].Columns[1].ColumnName].ToString()', '@dr[Model.Tables[0].Columns[3].ColumnName].ToString()', '@dr[Model.Tables[0].Columns[4].ColumnName].ToString()', '@dr[Model.Tables[0].Columns[5].ColumnName].ToString()', '@dr[Model.Tables[0].Columns[6].ColumnName].ToString()', '@dr[Model.Tables[0].Columns[7].ColumnName].ToString()', '@dr[Model.Tables[0].Columns[8].ColumnName].ToString()', '@dr[Model.Tables[0].Columns[9].ColumnName].ToString()', '@dr[Model.Tables[0].Columns[10].ColumnName].ToString()')">
                    @for (int i = 0; i < Model.Tables[0].Columns.Count; i++)
                    {
                        <td>@dr[Model.Tables[0].Columns[i].ColumnName].ToString()</td>

                    }
                </tr>
            }

        </tbody>
    </table>

</div>

<input type="hidden" id="comptPOS" value="@ViewBag.mes" />
<input type="hidden" class="form-control" value="@ViewBag.txtCount" id="txtCountPOS" />







