<div class="col-sm-12 tab-content tab-cancellation">
     <form class="form-inline" id="formedit">
        <label class="form-check-label col-form-label">Origin City:</label>
        <select class="outwardSelect"id="origincity">
                    @for (int i = 0; i < ViewBag.lon; i++)
                    {
                      <option id="org">@ViewBag.data[0,i]</option>
                    }
        </select>
        <label class="form-check-label col-form-label">Destination City:</label>
        <select class="outwardSelect" id="destinationcity">
            @for (int i = 0; i < ViewBag.lon; i++)
            {
                <option>@ViewBag.data[1, i]</option>
            }
        </select>
        <label class="form-check-label col-form-label">Prime Code:</label>
        <select class="outwardSelect" id="primecode">
            @for (int i = 0; i < ViewBag.lon; i++)
            {
                <option>@ViewBag.data[2, i]</option>
            }
        </select>
        <label class="form-check-label col-form-label">RBD</label>
        <select class="outwardSelect" id="rbd">
            @for (int i = 0; i < ViewBag.lon; i++)
            {
                <option>@ViewBag.data[3, i]</option>
            }
        </select>

        <div class="form-group mb-2">
            <label class="form-check-label col-form-label">MaxShareValue:</label>
            <input type="text" readonly class="form-control-plaintext" id="maxsharevalue" value="@ViewBag.data[4, 0]" disabled>
        </div>
        <div class="form-group mb-2">
            <label class="form-check-label col-form-label">MinShareValue:</label>
            <input type="text" readonly class="form-control-plaintext" id="minsharevalue" value="@ViewBag.data[5, 0]" disabled>
        </div>
        <input type="checkbox" class="custom-control-input" id="customControlInline" disabled>
        <label class="form-check-label col-form-label" id="validation">Validation</label>
    </form>
    <div class="content-cancellation col-sm-12">
        <div class="row">
            <fieldset class="test-fieldst" style="padding-bottom: 100px;margin-left: -19px;margin-right: -4px;">
                <div class="col-sm-7" style="margin-top: 25px;">
                    <div>
                        <div class="table-record-display" style="height:600px;overflow:auto">
                            <table id="tabSecValControl" class="table table-bordered table-hover table-striped tablehead" style="width: 84%;">
                                <thead>
                                    <tr>
                                        <th class="green-tab">Origin City</th>
                                        <th class="green-tab">Destination City</th>
                                        <th class="green-tab">Prime Code</th>
                                        <th class="green-tab">RBD</th>
                                        <th class="green-tab">Min Sector Value</th>
                                        <th class="green-tab">Max Sector Value</th>
                                        <th class="green-tab">Validated</th>
                                        <th class="green-tab">EDIT</th>
                                    </tr>

                                </thead>
                                <tbody id="tabSecValControlTD">
                                    @for (int i = 0; i < ViewBag.lon; i++)
                                    {
                                        <tr onclick="GetTabSVC()">
                                            @for (int j = 0; j < 6; j++)
                                            {
                                                <td>@ViewBag.data[j, i]</td>
                                            }
                                            <td>
                                                @if (@ViewBag.data[6, i] == "1")
                                                {
                                                    <input type="checkbox" checked disabled>
                                                }
                                                else
                                                {
                                                    <input type="checkbox" disabled>
                                                }

                                            </td>
                                                                                        
                                            <td><a class="Edit" onclick="editSVCTD()" href="javascript:;">Edit</a></td>
                                      </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <fieldset class="test-fieldst" style="margin-top:50px;padding:35px;font-size:12px">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="col-sm-12" style="border:1px solid gray;background:white">
                                    <div class="col-sm-12 green-tab" style="margin-left:-15px;padding:7px;width:249px"><label>FIRST CLASS (F)</label></div>

                                    <div class="row" style="padding:5px">
                                        <div class="col-sm-3">P</div>
                                        <div class="col-sm-9">First Class Premium</div>
                                    </div>
                                    <div class="row" style="padding:5px">
                                        <div class="col-sm-3">F</div>
                                        <div class="col-sm-9">First Class</div>
                                    </div>
                                    <div class="row" style="padding:5px">
                                        <div class="col-sm-3">A</div>
                                        <div class="col-sm-9">First Class Discounted</div>
                                    </div>
                                </div>
                                <div class="col-sm-12" style="border:1px solid gray;margin-top:15px;background:white">
                                    <div class="col-sm-12 green-tab" style="margin-left:-15px;padding:7px;width:249px"><label>BUSINESS / INTERMEDIATE CLASS (C)</label></div>

                                    <div class="row" style="padding:5px">
                                        <div class="col-sm-3">J</div>
                                        <div class="col-sm-9">Business Class Premium</div>
                                    </div>
                                    <div class="row" style="padding:5px">
                                        <div class="col-sm-3">C</div>
                                        <div class="col-sm-9">Business Class</div>
                                    </div>
                                    <div class="row" style="padding:5px">
                                        <div class="col-sm-3">D</div>
                                        <div class="col-sm-9">Business Class Discounted</div>
                                    </div>
                                    <div class="row" style="padding:5px">
                                        <div class="col-sm-3">I</div>
                                        <div class="col-sm-9">Business Class Discounted</div>
                                    </div>
                                    <div class="row" style="padding:5px">
                                        <div class="col-sm-3">Z</div>
                                        <div class="col-sm-9">Business Class Discounted</div>
                                    </div>
                                    <div class="row" style="padding:5px">
                                        <div class="col-sm-3">T</div>
                                        <div class="col-sm-9">Economy/Coach Dicounted</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6" style="border:1px solid gray;background:white">
                                <div class="row">
                                    <div class="col-sm-12 green-tab" style="margin-left:0px;padding:7px;width:279px"><label>ECONOMY/COACH CLASS (Y)</label></div>

                                    <div class="row" style="padding:5px">
                                        <div class="col-sm-3">W</div>
                                        <div class="col-sm-9">Economy/Coach Premium</div>
                                    </div>
                                    <div class="row" style="padding:5px">
                                        <div class="col-sm-3">S</div>
                                        <div class="col-sm-9">Economy/Coach</div>
                                    </div>
                                    <div class="row" style="padding:5px">
                                        <div class="col-sm-3">Y</div>
                                        <div class="col-sm-9">Economy/Coach</div>
                                    </div>
                                    <div class="row" style="padding:5px">
                                        <div class="col-sm-3">B</div>
                                        <div class="col-sm-9">Economy/Coach Discounted</div>
                                    </div>
                                    <div class="row" style="padding:5px">
                                        <div class="col-sm-3">H</div>
                                        <div class="col-sm-9">Economy/Coach Discounted</div>
                                    </div>
                                    <div class="row" style="padding:5px">
                                        <div class="col-sm-3">K</div>
                                        <div class="col-sm-9">Economy/Coach Discounted</div>
                                    </div>
                                    <div class="row" style="padding:5px">
                                        <div class="col-sm-3">L</div>
                                        <div class="col-sm-9">Economy/Coach Discounted</div>
                                    </div>
                                    <div class="row" style="padding:5px">
                                        <div class="col-sm-3">M</div>
                                        <div class="col-sm-9">Economy/Coach Discounted</div>
                                    </div>
                                    <div class="row" style="padding:5px">
                                        <div class="col-sm-3">N</div>
                                        <div class="col-sm-9">Economy/Coach Discounted</div>
                                    </div>
                                    <div class="row" style="padding:5px">
                                        <div class="col-sm-3">Q</div>
                                        <div class="col-sm-9">Economy/Coach Discounted</div>
                                    </div>
                                    <div class="row" style="padding:5px">
                                        <div class="col-sm-3">V</div>
                                        <div class="col-sm-9">Economy/Coach Discounted</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-sm-5" style="margin-top: 140px;">
                    <button class="btn-default" style="width: 380px" data-toggle="modal" data-target="#sectorValue">SECTOR VALUE DISCREPENCY</button>

                </div>
                <div class="col-sm-6" style="margin-top: 10px;">
                    <fieldset class="test-fieldst" style="padding: 15px;">

                        <div class="col-sm-12">
                            <button class="btn-default btn-outward" onClick="searchSVC()" style="margin-left:25px">SEARCH</button>
                            <button class="btn-default btn-outward" onClick="AddNewSVC()" style="margin-left:25px">ADD NEW</button>
                            <button class="btn-default btn-outward" onclick="SaveSVC()" style="margin-left:25px">SAVE</button>
                            <button class="btn-default btn-outward" onclick="clearSVC()" style="margin-left:25px">CLEAR</button>
                            <button class="btn-default btn-outward" onclick="removeSousMenu()" style="margin-left:25px">CLOSE</button>

                        </div>
                    </fieldset>
                </div>
            </fieldset>
        </div>
    </div>
</div>