@using System.Data
@model DataSet
<div id="newOrgDetails" style="visibility:visible">
    <table id="tableOrgDetails">
        <tbody>
            <tr>
                <td>@ViewBag.a[0]</td>
                <td>@ViewBag.a[1]</td>
                <td>@ViewBag.a[2]</td>
                <td>@ViewBag.a[3]</td>
                <td>@ViewBag.a[4]</td>
            </tr>
            <tr>
                <td>gf</td>
                <td>gf</td>
                <td>gf</td>
                <td>gf</td>
                <td>gf</td>
            </tr>
        </tbody>
    </table>
</div>
