<div class="" id="IdShowSearchEMD">
    <table class="table table-bordered tablehead">
        <caption style="text-align: center;background-color: greenyellow;">EMD DETAILS</caption>
        <tr>
            <th>
                <div class="col-sm-12 width-group">
                    <label class="form-check-label col-form-label col-sm-5 n-padding fromTo">DOCUMENT NO</label>
                    <div class="col-sm-7 n-padding">
                        <div class="input-group">
                            <input type="text" class="form-control" id="DOCUMENTNOEMD" value="@ViewBag.DocumentNo">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 width-group">
                    <label class="form-check-label col-form-label col-sm-5 n-padding fromTo">COUPON NO</label>
                    <div class="col-sm-7 n-padding">
                        <div class="input-group">
                            <input type="text" class="form-control" id="COUPONNOEMD" value="@ViewBag.EMDCOUPONNUMBER ">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 width-group">
                    <label class="form-check-label col-form-label col-sm-5 n-padding fromTo">COUPON VALUE</label>
                    <div class="col-sm-7 n-padding">
                        <div class="input-group">
                            <input type="text" class="form-control" id="COUPONVALUEEMD" value="@ViewBag.EMDCOUPONVALUE">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 width-group">
                    <label class="form-check-label col-form-label col-sm-5 n-padding fromTo">COUPON CURRENCY</label>
                    <div class="col-sm-7 n-padding">
                        <div class="input-group">
                            <input type="text" class="form-control" id="COUPONCURRENCYEMD" value="@ViewBag.EMDCOUPONCURRENCY">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 width-group">
                    <label class="form-check-label col-form-label col-sm-5 n-padding fromTo">TRANSACTIONCODE</label>
                    <div class="col-sm-7 n-padding">
                        <div class="input-group">
                            <input type="text" class="form-control" id="TRANSACTIONCODEEMD" value="@ViewBag.TRANSACTIONCODE">
                        </div>
                    </div>
                </div>
            </th>
            <th>
                <div class="col-sm-12 width-group">
                    <label class="form-check-label col-form-label col-sm-7 n-padding fromTo">RELATED TICKET NO</label>
                    <div class="col-sm-5 n-padding">
                        <div class="input-group">
                            <input type="text" class="form-control" id="RELATEDTICKETNOEMD" value="@ViewBag.EMDRELATEDTICKETNUMBER R">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 width-group">
                    <label class="form-check-label col-form-label col-sm-7 n-padding fromTo">RELATED COUPON NO</label>
                    <div class="col-sm-5 n-padding">
                        <div class="input-group">
                            <input type="text" class="form-control" id="RELATEDCOUPONNO" value="@ViewBag.EMDRELATEDCOUPONNUMBER">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 width-group">
                    <label class="form-check-label col-form-label col-sm-7 n-padding fromTo">FEE OWNER AIRLINE DESIGNATOR</label>
                    <div class="col-sm-5 n-padding">
                        <div class="input-group">
                            <input type="text" class="form-control" id="FEEOWNERAIRLINEDESIGNATOREMD">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 width-group">
                    <label class="form-check-label col-form-label col-sm-7 n-padding fromTo">CONSUMED AT ISSUANCE INDICATOR</label>
                    <div class="col-sm-5 n-padding">
                        <div class="input-group">
                            <input type="text" class="form-control" id="CONSUMEDATISSUANCEINDICATOREMD" value="@ViewBag.EMDCONSUMEDATISSUANCEINDICATOR">
                        </div>
                    </div>
                </div>
            </th>
            <th>
                <div class="col-sm-12 width-group">
                    <label class="form-check-label col-form-label col-sm-8 n-padding fromTo">EXCESS BAGGAGE OVER ALLOWANCE QUALIFIER</label>
                    <div class="col-sm-4 n-padding">
                        <div class="input-group">
                            <input type="text" class="form-control" id="EXCESSBAGGAGEEMD" value="@ViewBag.EMDEXCESSBAGGAGEOVERALLOWANCEQUALIFIER ">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 width-group">
                    <label class="form-check-label col-form-label col-sm-8 n-padding fromTo">EXCESS BAGGAGE RATE PER UNIT</label>
                    <div class="col-sm-4 n-padding">
                        <div class="input-group">
                            <input type="text" class="form-control" id="RATEPERUNITEMD" value="@ViewBag.EMDEXCESSBAGGAGERATEPERUNIT">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 width-group">
                    <label class="form-check-label col-form-label col-sm-8 n-padding fromTo">EXCESS BAGGAGE TOTAL NUMBER IN EXCESS</label>
                    <div class="col-sm-4 n-padding">
                        <div class="input-group">
                            <input type="text" class="form-control" id="NUMBERINEXCESSEMD" value="@ViewBag.EMDEXCESSBAGGAGETOTALNUMBERINEXCESS">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 width-group">
                    <label class="form-check-label col-form-label col-sm-8 n-padding fromTo">EXCESS BAGGAGE CURRENCY TYPE</label>
                    <div class="col-sm-4 n-padding">
                        <div class="input-group">
                            <input type="text" class="form-control" id="CURRENCYTYPEEMD" value="@ViewBag.EMDEXCESSBAGGAGECURRENCYTYPE">
                        </div>
                    </div>
                </div>
            </th>
        </tr>
        <tr>
            <th id="par" colspan="3" scope="colgroup">
                <div class="col-sm-2">
                    <label class="form-check-label col-form-label n-padding fromTo">REASON ISSUANCE SUB CODE</label>
                    <div class="n-padding">
                        <div class="">
                            <input type="text" class="form-control" id="SUBCODEEMD" value="@ViewBag.EMDREASONFORISSUANCESUBCODE">
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label class="form-check-label col-form-labeln-padding fromTo">REASON FOR ISSUANCE CODE</label>
                    <div class=" n-padding">
                        <div class="">
                            <input type="text" class="form-control" id="CODEEMD" value="@ViewBag.REASONFORISSUANCECODE">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="form-check-label col-form-label n-padding fromTo">REASON ISSUANCE DESCRIPTION</label>
                    <div class="n-padding">
                        <div class="">
                            <input type="text" class="form-control" id="DESCRIPTIONEMD" value="@ViewBag.REASONFORISSUANCEDESCRIPTION">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="form-check-label col-form-label  n-padding fromTo">REMARKS</label>
                    <div class=" n-padding">
                        <div class="">
                            <input type="text" class="form-control" id="REMARKSEMD" value="@ViewBag.EMDREMARKS">
                        </div>
                    </div>
                </div>
            </th>
        </tr>
    </table>
</div>
