<div class="container-body-pricipal">
    <aside class="vertical-menu">
        <div class="container-fluid">
            <ul class="liste-sous-menu-vertical">
                <li class="active rotate li-menu-vertical1"><a class="menu1" href="#" aria-controls="home" role="tab" data-toggle="tab" onclick="verticalMenu('@Url.Action("Welcom", "Home")')"><span>Welcome</span></a></li>
                <li class="rotate li-menu-vertical2"><a class="menu2" href="#" aria-controls="home" role="tab" data-toggle="tab" onclick="verticalMenu('@Url.Action("Index", "Sales")')"><span>Sales</span></a></li>
                <li class="rotate li-menu-vertical3"><a class="menu3" href="#" aria-controls="home" role="tab" data-toggle="tab" onclick="verticalMenu('@Url.Action("Index", "Lift")')"><span>Lift</span></a></li>
                <li class="rotate li-menu-vertical4"><a class="menu4" href="#" aria-controls="home" role="tab" data-toggle="tab" onclick="verticalMenu('@Url.Action("Index", "Interline")')"><span>Interline</span></a></li>
                <li class="rotate li-menu-vertical5"><a class="menu5" href="#" aria-controls="home" role="tab" data-toggle="tab" onclick="verticalMenu('@Url.Action("Index", "Reporting")')"><span>Reporting & Accounting</span></a></li>
                <li class="rotate li-menu-vertical6"><a class="menu6" href="#" aria-controls="home" role="tab" data-toggle="tab" onclick="verticalMenu('@Url.Action("Index", "Process")')"><span>Process & Enquiry</span></a></li>
                <li class="rotate li-menu-vertical7"><a class="menu7" href="#" aria-controls="home" role="tab" data-toggle="tab" onclick="verticalMenu('@Url.Action("Index", "Customised")')"><span>Customised</span></a></li>
            </ul>
        </div>
    </aside>
   
    <div class="container-body">
        <div class="startup">
        </div>
    </div>
</div>
